# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Problems.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cuteh\RiderProjects\LeetCodeProblemSolving\Problems\.idea\.idea.Problems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
